<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h2><b><span>Announcements</span></b></h2>
        <hr>
        <br>
        <h4 class="upcoming-event">Recruitment of 100 Security Operatives ongoing.....<br>
        <br>
        <center>
            <a href="https://master-eye-security-services-limited.000webhostapp.com/">Apply Now!!!!</a>
        </center>
        </h4>
        <br>
        <img src="{{site.baseurl}}/assets/images/1_092233.jpg" alt="Announcements">
    </div>
    <div class="sidebar-section">
        <h2><b><span>Upcoming Events</span></b></h2>
        <hr>
        <br>
        <style>
            .upcoming-event{
                text-decoration: solid !important;
                color: rgb(114, 128, 128);
                font-weight: bold;
            }
        </style>
        <ol>
            <li class="upcoming-event"><h4><b>Courtesy visit to The Commander, 3 Division Garrison Nigerian Army, Jos.</b></h4></li>
            <br>
            <li class="upcoming-event"><h4><b>Meeting with the Advisory Board Members.</b></h4></li>
        </ol>
        

    </div>
    
</div>
