<style>
    .ongoing-events{
        text-decoration: solid !important;
        color: rgb(83, 85, 85);
        font-weight: bold;
    }
    .hover:hover{
        color: rgb(32, 139, 139);
        text-decoration: underline;
    }
</style>
<div class="sidebar sticky-top">        
   
    <div class="sidebar-section">
        <h2><b><span>Announcements</span></b></h2>
        <hr>

        <h4 class="ongoing-events"><br>
        <br>
        <center>
            <em><p>Website coming soon....</p></em>
            <!-- <a href="/apply-page.html">Apply Now!!!!</a> -->
        </center>
        </h4>
        <br>
        <img src="{{site.baseurl}}/assets/images/IMG-20230717-WA0016.jpg" alt="Announcements">
    </div>
    
       
    
    
</div>
